<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gettingthingsdone.federico.gettingthingsdone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAIeINE0de1y_mOd2Tg1rBEo7-AIc_oir8"
            />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity
            android:name=".activities.MainFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ItemActivity"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.TagActivity"
            android:label="@string/title_activity_new_tag"></activity>
        <activity
            android:name=".activities.ProjectActivity"
            android:label="@string/title_activity_new_tag"
            android:windowSoftInputMode="adjustPan"></activity>

        <receiver android:name=".receivers.InTrayNotificationReceiver"/>
    </application>

</manifest>